	#body_area
{
	position: absolute;
	float: right;
}
#map_area
{
	padding: 3px;
}

#map_wrapper {
    width: 600px;
    height: 397px;
    position: relative; 
    float: left;	
    
}

.numOfChild {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute; 
    visibility: hidden;
}

.numOfMobile {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute; 
    visibility: hidden;
}

.socialClass {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    visibility: hidden;
}

.legend_numOfChild {
    position: absolute; 
    visibility: hidden;
    padding: 5px;
    margin-left: 10px;
}

.legend_numOfMobile {
    position: absolute; 
    visibility: hidden;
    padding: 5px;
    margin-left: 10px;
}

.legend_socialClass {
    position: absolute;
    visibility: hidden;
    padding: 5px;
    margin-left: 10px;
}

.legend_header {
	padding: 5px;
}
#legend_fields
{
	float: left;
	padding: 5px;
	margin-top: 120px;
	margin-left: 10px;
}

#legend_title
{
	padding: 10px;
}

#selectionList
{
	position: relative;
	margin-top: 415px;
	margin-left: 10px;
}

.colour_text {
    padding-left: 20px;
    float: left;
    
}

.colour_block {
    width: 60px;
    height: 12px;
    float: left;
}
