#body_area
{
	position: absolute;
	float: right;
}
#map_area
{
	padding: 10px;
}
#map_wrapper {
    width: 600px;
    height: 397px;
    position: relative; 
    float: left;	
    
}

/*.numOfChild {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #f00;
    position: absolute; 
    visibility: hidden;
}

.numOfMobile {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #0f0;
    position: absolute; 
    visibility: hidden;
}

.socialClass {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #00f;
    position: absolute;
    visibility: hidden;
}*/

.mapPoint {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    visibility: hidden;
}

#legend_fields
{
	border: 2px solid;
	border-radius:25px;
	width: 250px;
	height: 150px;
	float: left;
	padding: 5px;
	margin-top: 120px;
	margin-left: 10px;
}
#legend_title
{
	padding: 10px;
}

#selectionList
{
	position: relative;
	margin-top: 415px;
	margin-left: 10px;
}
